/* Genérico */
body {
    font-family: "Epilogue", sans-serif;
}

.btn {
    padding: 20px 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-header {
    padding: 12px 24px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #BA181B;
    align-self: flex-start;
}

.btn-outline {
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Layout*/

#header-container {
    background-color: #0b090a;
}

.header {
    background-color: #0b090a;
    color: #FFFFFF;
    padding: 24px, 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero Section */

#hero-container {
    background-color: #0b090a;
    color: #FFFFFF;
}

.hero {
    display: flex;
    align-items: center;
    gap: 48px;
}

.hero-text, .hero-img {
    flex: 1;
}

.hero-img img {
    max-width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hero-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    max-width: 600px;
}

.hero-text__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 580px;
}

/*red1: #BA181B */
/*red2: #E5383B */
/*black1: #0B090A */
/*black2: #161A1D */
/*white1: #FFFFFF */
/*white 3: #F5F3F4 */